<!-- Copyright (c) 2021 8th Wall, Inc. -->
<a-scene
  xrextras-gesture-detector
  xrextras-almost-there
  xrextras-loading
  xrextras-runtime-error
  renderer="colorManagement: true"
  xrweb
>
  <!-- We can define assets here to be loaded when A-Frame initializes -->
  <a-assets>
    <!-- "Cactus" (https://skfb.ly/6BTMs) by keerotic is licensed under Creative Commons Attribution (http://creativecommons.org/licenses/by/4.0/). -->
    <a-asset-item id="plant" src="./Assets/cactus.glb"></a-asset-item>
  </a-assets>

  <xrextras-capture-button></xrextras-capture-button>

  <xrextras-capture-preview></xrextras-capture-preview>

  <!-- The raycaster will emit mouse events on scene objects specified with the cantap class -->
  <a-camera
    id="camera"
    position="0 8 8"
    raycaster="objects: .cantap"
    cursor="fuse: false; rayOrigin: mouse;"
  >
  </a-camera>

  <a-entity
    light="
      type: directional;
      intensity: 0.8;
      castShadow: true;
      shadowMapHeight:2048;
      shadowMapWidth:2048;
      shadowCameraTop: 10;
      target: #model;"
    xrextras-attach="target: model; offset: 1 15 3;"
    shadow
  >
  </a-entity>

  <a-light type="ambient" intensity="0.7"></a-light>

  <!-- Plant Product -->
  <a-entity
    id="model"
    gltf-model="#plant"
    xrextras-hold-drag
    xrextras-two-finger-rotate
    xrextras-pinch-scale
    scale="1.5 1.5 1.5"
    shadow="receive: false"
  >
  </a-entity>
</a-scene>
